!!!
%html
  %head
    %title Chatter
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}= value
      #left_column{class: "three columns"}
        .row
          %h1
            Chatter
            %h5
              - if signed_in?
                = current_user.email
                = link_to "Sign out", sign_out_path, :method => :delete
        #online_members
      #right_column{class: "twelve columns offset-by-one"}
        = yield